name: CI/CD Pipeline

on:
  push:
    branches: [main]
    tags: ["v*"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    outputs:
      app_version: ${{ steps.get_version.outputs.version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get version from package.json
        id: get_version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Login to docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/sakuin:latest
            ${{ secrets.DOCKER_USERNAME }}/sakuin:${{ steps.get_version.outputs.version }}

  deploy-to-vps:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Version Checking
        run: echo "Version = ${{ needs.build-and-push.outputs.app_version }}"
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        env:
          VERSION: ${{ needs.build-and-push.outputs.app_version }}
          IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/sakuin
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          script: |
            cd ~/sakuin-be
            echo "VERSION=$VERSION" >> .env
            echo "IMAGE_NAME=$IMAGE_NAME" >> .env
            docker compose pull
            docker compose up -d
